<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="hammer.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.01 0 0" rpy="1.5707 0 0"/>
      <geometry>
        <mesh filename="hammer_decomp.obj" scale="1 1 1"/>
        <!-- <cylinder radius="0.015" length="0.3"/> -->
      </geometry>
    </collision>
    <inertial>
	<mass value="0.05"/>
	<inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
  </link>
</robot>
